.footer__column-links {
  display: flex;
  padding-left: 0;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
