@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo {
  display: flex;
}

.logo_place_header {
  background-size: contain;
  position: absolute;
  width: 228px;
  height: 32px;
  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
  justify-content: start;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  background-size: contain;
  width: 228px;
  height: 34px;
}

.header__title {
  width: 730px;
  align-self: center;
  z-index: 3;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin: 0 0 0 64px;
}

.header__subtitle {
  position: absolute;
  flex-direction: column;
  align-self: flex-end;
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
  font-weight: normal;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

 .header__link:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  right: 0;
  bottom: 0;
  top: 64px;
  z-index: 0;
  animation: rotation 20s linear infinite;
}

.description {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.two-columns {
  display: flex;
  box-sizing: content-box;
  width: 80%;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;

}

.two-columns__brief {
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
}

.two-columns__main-text {
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}


.digits {
  display: flex;
  flex-direction: column;
  padding: 100px 0 100px 0;
  justify-content: center;
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
  width: 60%;
  z-index: 1;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}


.section-subtitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
  width: 60%;
  z-index: 1;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 60px;
  margin: 0 auto 0 auto;
  width: 1100px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px 0;

}

.table__cell {
  width: 250px;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 0;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.table_theme_dark {
  padding-top: 80px;
  margin: 0;
  gap: 80px 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.cards {
  display: flex;
  width: 920px;
  flex-wrap: wrap;
  padding: 100px 0 0 0;
  margin: 0;
  gap: 60px 100px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 240px;
  margin: 0;
}

.cards__image {
  display: flex;
  border: #1f1f1f;
  width: 160px;
  height: 160px;
  margin: 0 40px 43px 40px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}

.cards__title {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  text-align: center;
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.video__iframes {
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
  gap: 0 20px;
  transform: translate(0px, 50px);
}

.video__iframe {
  display: flex;
  flex-wrap: wrap;
  width: 515px;
  height: 316px;
  margin: 0;
}

.oakley {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 160px;
}

.feynman {
  display: flex;
  position: relative;
  padding-top: 100px;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  min-height: 890px;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;

}

.feynman__title {
  width: 648px;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  text-align: center;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 90px;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  background-size: contain;
  background-image: url('../images/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  animation: rotation 20s linear infinite;
}

.resources {
  padding-bottom: 217px;
  padding-top: 100px;
}

.resources__logo-zone {
  margin: 80px auto 0 auto;
  width: 1100px;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.resources__link {
  display: flex;
  width: 270px;
  height: 38px;
  justify-content: center;
}

.khan {
  padding: 105px 0 0 0;
  display: flex;
  background-color: #f2f2f2;
}

.khan__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 0 auto;
  width: 80%;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0 0 50px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 0 0 36px 0;
  width: 790px;
  line-height: 32px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;

}

.khan__book-pic {
  margin: 0 48px 0 0;
  height: 620px;
  width: 608px;
  overflow: hidden;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.footer {
  display: flex;
  min-height: 350px;
  justify-content: center;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  color: white;
}

.footer__columns {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column-links {
  display: flex;
  padding-left: 0;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__column-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
